{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<h1>Tugas 4 Assignment PBP/PBD</h1>

<div>
    <b>Username: </b> {{nama}}
</div>

<button><a href="{%url 'todolist:create-task' %}">Tambah Task Baru</a></button>

{% for isi in data_todolist %}
<div class ="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Date</h5>
        <p class="card-text">{{isi.date}}</p>
        <h5 class="card-title">Title</h5>
        <p class="card-text">{{isi.title}}</p>
        <h5 class="card-title">Description</h5>
        <p class="card-text">{{isi.description}}</p>
        <h5 class="card-title">Status</h5>
        <p class="card-text">{{isi.is_finished}}</p>
    </div>
    
</div>
{% endfor %}
<a href="{% url 'todolist:logout' %}" class="btn btn-primary">Logout</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<style>
    .card{
        background-color: bisque;
    }
    .card-title{
        color : rgb(25, 69, 28);
    }
</style>
{% endblock content %}